html {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "navigation"
      "header"
      "content-area"
      "footer";
    min-height: 100vh;
  }
h1 {
    font-family: 'Charmonman', cursive;
    font-size: 2em;

}
h2 {
    font-family: monospace;
    font-size: 1.5em;
}
p {
    font-size: 16px;
}
div {
    margin-bottom: 58px;
}
.container {
max-width: 960px;
margin: 0 auto;
}
.content-area {
    grid-area: content-area;
    text-align: left;
    margin-left: 25%;
    margin-right: 25%
    
    }
    
    .header {
     grid-area: header;
    }
.footer {
    grid-area: footer;
    background-color: black;
    color:white;

}
.highlighted {

background-color: yellow;
}
/* 
from index page 

*/
     p {
    color:teal;
  }
    i { 
    font-size: 300%;
  }
  h3 {
      font-family: cursive;
  }
    p {
        color: crimson;
    }
    i {
        font-size: 100;
    }
    /* navigation style */


    #navigation {
        grid-area: navigation;
        position: sticky;
        top: 0;
      }
      
      #footer {
        bottom: 0;
        position: sticky;
      }
      
      #navigation > ul > li {
        position: relative;
        display: inline;
        list-style: none;
      }
      
      #navigation .dropdown {
        position: absolute;
        top: 1em;
        right: 0;
        display: none;
      }
      
      #navigation a:hover + .dropdown {
        display: block;
      }
      
      #navigation > ul.container {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
      .header  {
          margin-top: 2.3em;
      }
      @media (min-width: 612px) {
        body {
            grid-template-columns: 10rem auto;
            grid-template-rows: min-content auto min-content;
            grid-template-areas:
              "navigation header"
              "navigation content-area"
              "navigation footer"
        }
      }
      