html {
    box-sizing: border-box;
}
body {
    display: grid;
    grid-template-rows: min-content min-content auto min-content;
    grid-template-areas:
      "navigation"
      "header"
      "content-area"
      "footer";
    min-height: 100vh;
  }
h1 {
    font-family: 'Charmonman', cursive;
    font-size: 2em;

}
h2 {
    font-family: monospace;
    font-size: 1.5em;
}
p {
    font-size: 16px;
}
div {
    margin-bottom: 58px;
}
.container {
max-width: 960px;
margin: 0 auto;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-area: content-area;
    /* text-align: left; */
    
    }
    
    .header {
     grid-area: header;
    }
.footer {
    grid-area: footer;
    background-color: black;
    color:white;

}
.highlighted {

background-color: yellow;
}
    /* navigation style */


    #navigation {
        grid-area: navigation;
        position: sticky;
        top: 0;
      }
      
      #footer {
        bottom: 0;
        position: sticky;
      }
      
      #navigation > ul > li {
        position: relative;
        display: inline;
        list-style: none;
      }
      
      #navigation .dropdown {
        position: absolute;
        top: 1em;
        right: 0;
        display: none;
      }
      
      #navigation a:hover + .dropdown {
        display: block;
      }
      
      #navigation > ul.container {
        
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
      }
      .header  { 
          display: flex; 
          justify-content: center;
          margin-top: 2.3em;
          
      }
      #profile-img {
          width: 200px;
          border-radius: 100px;
      }
      /* only large screens */
      @media (min-width: 612px) {
        body {
            grid-template-columns: 10rem auto;
            grid-template-rows: min-content auto min-content;
            grid-template-areas:
              "navigation header"
              "navigation content-area"
              "navigation footer"
        }
      }
      